//Color
$blue100: rgb(39, 7, 183);
$blue200: rgb(35, 6, 164);
$blue300: rgb(33, 6, 152);
$blue400: rgb(27, 4, 130);
$blue500: rgb(22, 3, 106);
$blue600: rgb(22, 3, 106);
$blue700: rgb(17, 1, 87);
$blueDark: rgb(10, 1, 50);

$dark500:rgb(87, 87, 87);

//fs
$fs16:16px;
$fs20:20px;
$fs25:25px;
$fs30:30px;
$fs35:35px;
$fs40:40px;
$fs45:45px;
$fs50:50px;
$fs100:100px;
